<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>/r/{{subreddit}} on reddit-topics</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <style>
            body {
                font-family: Verdana, Arial, sans-serif;
                background-color:#EFF7FF;
            }
            .title-header {
                background-color:#FF5700
            }
            a {
                color:black;
                text-decoration: none;
            }
            a:hover {
                color:black;
                
            }
            a:visited {
                color:black;
                text-decoration: none;
            }
            p {
                font-size: 1.2em;
            }
        </style>
    </head>

    <body>
        <div id='content-container' class='container-fluid vh-100'>
            <a href='/' style="color:white; text-decoration: none;">
                <div class='row justify-content-start title-header'>
                    <div id='title' class='col-9 mx-sm-3 mt-sm-1'>
                        <h2>What are people talking about on reddit? </h2>  
                    </div>
                </div>
            </a>
            <div class='row mt-md-3'>
                <div id='input-col' class='col-4 '>
                    <form action="/" method="GET">
                        <div class="form-row mx-sm-3 mb-2">
                            <label for="subreddit">Subreddit</label>
                            <input type="text" class="form-control" id="subreddit" aria-describedby="subredditHelp"
                                name="subreddit" value = "{{subreddit}}" placeholder="e.g. all">
                            <small id="subredditHelp" class="form-text text-muted">Enter the name of a subreddit to find out what people are talking about. Try adding subreddits with '+'.</small>
                        </div>
                        <div class="form-row mx-sm-3 mb-2">
                            <label for="limit">Number of Posts</label>
                            <select class="form-control form-control-sm" id="limit" name="limit">
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                                <option value="300">300</option>
                            </select>
                        </div>
                        <div class="form-row mx-sm-3 mb-3">
                            <label for="postType">Post type</label>
                            <select class="form-control" id="postType" name="postType">
                                <option value="hot">hot</option>
                                <option value="new">new</option>
                                <option value="top">top</option>
                                <option value="rising">rising</option>
                                <option value="controversial">controversial</option>
                            </select>
                        </div>
                        <div class="form-group mx-sm-3 mb-3">
                            <small><a href='#' class='advanced' style="color:grey">Advanced Options</a></small>
                            <div id='advancedOptions'>
                                <small>Just kidding!</small>
                            </div>
                        </div>
                        <div class="form-row mx-sm-3 mb-2">
                            <div class="form-group mr-sm-3">
                                <button type="submit" class="btn btn-primary ">Submit</button>
                            </div>
                            <div class="form-group mr-sm-3">
                                <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                            <!-- <div class="form-group mr-sm-3">
                                <button type="" class="btn btn-tertiary">Random</button>
                            </div> -->
                        </div>
                    </form>
                </div>

                <div id='results-col' class='col-8'>
                    <small class='text-muted'>Top {{limit}} {{post_type}} posts on <a href="https://www.reddit.com/r/{{subreddit}}">/r/{{subreddit}}</a></small>
                    
                    <p><a href="https://www.google.com/search?q={{g_query1}}">{{topic1}}</a></p>
                    <p><a href="https://www.google.com/search?q={{g_query2}}">{{topic2}}</p></a>
                    <p><a href="https://www.google.com/search?q={{g_query3}}">{{topic3}}</p></a>
                    <p><a href="https://www.google.com/search?q={{g_query4}}">{{topic4}}</p></a>
                    <p><a href="https://www.google.com/search?q={{g_query5}}">{{topic5}}</p></a>
                    <p><a href="https://www.google.com/search?q={{g_query6}}">{{topic6}}</p></a>
                    <p><a href="https://www.google.com/search?q={{g_query7}}">{{topic7}}</p></a>
                    <p><a href="https://www.google.com/search?q={{g_query8}}">{{topic8}}</p></a>
                    <p><a href="https://www.google.com/search?q={{g_query9}}">{{topic9}}</p></a>
                    <p><a href="https://www.google.com/search?q={{g_query10}}">{{topic10}}</p></a>
                </div>
            </div>
        </div>
        <div id='viz' class='container-fluid'>
            <div class='row justify-content-end title-header'>
                <div id='title' class='col-9 mx-sm-3 mt-sm-1'>
                    <h2 style="color:white; text-align: end;">Visualizations</h2>
                </div>
            </div>
            <div class='row d-flex justify-content-end mx-3 mt-4'>
                {{bokeh_div1|safe}}
            </div>
        </div>
        <div id='footer-container' class='container-xl'>
            <div class="row d-flex justify-content-center align-items-center py-3">
                <small class="text-muted">
                    This is yet unfinished. Also not affiliated with Reddit.
                    <br>
                    Results may vary.
                    <br>
                    Code may be found <a href='https://www.github.com/jonjonchu/metisproject4'>here</a>
                    <br>
                    Special thanks to the students and instructors at Metis Data Science, SF Spring 2020 Cohort.
                </small>
            </div>
        </div>

        <!-- Scripts: JQuery, etc. -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.2.min.js" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $(document).ready(() => {
                    $("#limit option[value={{limit}}]").attr('selected', 'selected');
                    $("#postType option[value={{post_type}}]").attr('selected', 'selected');
                });
            $(document).ready(function () {
                $('#advancedOptions').hide();
                $('.advanced').click(function () {
                    if ($('#advancedOptions').is(':hidden')) {
                        $('#advancedOptions').slideDown();
                    } else {
                        $('#advancedOptions').slideUp();
                    }
                });
            });
        </script>
        {{bokeh_js1|safe}}
    </body>
</html>